
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 7px;
}
p {
  margin-bottom: 1px;
  color: rgb(112, 111, 111);
}
@media screen and (min-width: 800px) {
  h1, h2, h3, h4 {
    line-height: 1;
  }
}


/* section */
.section {
  width: 80%;
  margin: 10px auto;
}

/* Menu */

.menu {
  padding: 50px 0;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
.header-line {
  width: 175px;
  height: 5px;
  background: goldenrod;
  margin-left: auto;
  margin-right: auto;
}
.btn-container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 15px;
  letter-spacing: 1px;
  color: goldenrod; 
  cursor: pointer;
}
.filter-btn:hover {
  color: rgb(138, 127, 56);
}
.section-center {
  width: 90%;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 45px 30px;
  justify-items: center;
}
.menu-item {
  display: grid;
}
.img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid goldenrod;
  display: block;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted lightgray;
}
.item-info h4 {
  margin-bottom: 0.5rem;
}

.item-text {
  padding-top: 20px;
}

@media screen  and (min-width: 450px) {
  .btn-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 750px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 10px;
    max-width: 90%;
  }
  .img {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 95%;
    grid-template-columns: 1fr 1fr;
  }
  .img {
    height: 150px;
  }
}